<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CGroup</key>
	<array>
		<dict>
			<key>name</key>
			<string>沈小婷</string>
			<key>url</key>
			<string>https://baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>苏芮琪</string>
			<key>url</key>
			<string>https://baidu.com</string>
		</dict>
	</array>
	<key>KGroup</key>
	<array>
		<dict>
			<key>name</key>
			<string>姜艺书</string>
			<key>url</key>
			<string>https://baidu.com</string>
		</dict>
	</array>
	<key>JGroup</key>
	<array>
		<dict>
			<key>name</key>
			<string>江崎光</string>
			<key>url</key>
			<string>http://baidu.com</string>
		</dict>
	</array>
</dict>
</plist>
